@using ForumVianna.Site.Utils
@using ForumVianna.Model.DB.Model

@model IEnumerable<ForumVianna.Model.DB.Model.Comentario>

@{
    ViewBag.Title = "Comentarios";

    var idDiscussao = (Guid)ViewBag.IdDiscussao;
}

<h2>Comentários</h2>

@Html.Partial("_AddComentario", new Comentario()
{
    Dono = LoginUtils.Instance.Usuario,
    Discussao = new Discussao()
    {
        Id = idDiscussao
    }
})

<div id="tblComentarios">
    @Html.Partial("_TblComentarios", Model,
        new ViewDataDictionary() { { "idDiscussao" , idDiscussao } })
</div>